@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

:root {
    --bg: rgb(51, 51, 51);

    --player-red: rgb(220, 53, 69);
    --player-blue: rgb(0, 123, 255);
    --player-orange: rgb(255, 120, 0);
    --player-yellow: rgb(255, 239, 0);
    --player-green: rgb(0, 255, 28);
    --player-teal: rgb(0, 255, 243);
    --player-purple: rgb(151, 0, 255);
    --player-gray: rgb(88, 88, 88);

    --player-red-inrange: rgb(240, 93, 109);
    --player-blue-inrange: rgb(80, 183, 255);
    --player-orange-inrange: rgb(255, 160, 40);
    --player-yellow-inrange: rgb(255, 255, 150);
    --player-green-inrange: rgb(100, 255, 148);
    --player-teal-inrange: rgb(200, 255, 255);
    --player-purple-inrange: rgb(211, 80, 255);
    --player-gray-inrange: rgb(128, 128, 128);

    --terrain-mountain: rgb(170, 170, 170);
    --terrain-forest: rgb(72, 133, 79);
    --terrain-plains: rgb(155, 118, 83);

    --terrain-forest-inrange: rgb(112, 173, 119);
    --terrain-plains-inrange: rgb(195, 158, 123);

    --cell-size: 85px;
}

body {
    /* font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
        "Bitstream Vera Sans", "Helvetica Neue", sans-serif; */
    @apply font-vt323;
    margin: 0;
    text-align: center;
    background: var(--bg) none repeat scroll 0% 0%;
}

.splash {
    @apply flex justify-center items-center;
    height: 100vh;
    background: url("/img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.bg-juralen {
    background: var(--bg) none repeat scroll 0% 0%;
}

.bg-juralen-transparent,
.bg-black-50 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
}

.bg-black-75 {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%;
}

.in-range {
    &.bg-player-red {
        background-color: var(--player-red-inrange);
    }
    &.bg-player-blue {
        background-color: var(--player-blue-inrange);
    }
    &.bg-player-orange {
        background-color: var(--player-orange-inrange);
    }
    &.bg-player-yellow {
        background-color: var(--player-yellow-inrange);
    }
    &.bg-player-green {
        background-color: var(--player-green-inrange);
    }
    &.bg-player-teal {
        background-color: var(--player-teal-inrange);
    }
    &.bg-player-purple {
        background-color: var(--player-purple-inrange);
    }
    &.bg-player-gray {
        background-color: var(--player-gray-inrange);
    }
}

.cell {
    @apply flex flex-col justify-end p-1;
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    font-size: calc(var(--cell-size) / 8);

    & .unit {
        @apply inline;
        width: calc(var(--cell-size) / 8);
        height: calc(var(--cell-size) / 8);
    }

    &.town {
        background-image: url("/img/town.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: calc(var(--cell-size) / 1.8)
            calc(var(--cell-size) / 1.8);
    }

    &.citadel {
        background-image: url("/img/castle.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: calc(var(--cell-size) / 1.8)
            calc(var(--cell-size) / 1.8);
    }

    &.bg-terrain-mountain {
        background-image: url("/img/mountain.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &.bg-terrain-forest {
        background-image: url("/img/forest.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: calc(var(--cell-size) / 1.2)
            calc(var(--cell-size) / 1.2);

        &.in-range {
            background-color: var(--terrain-forest-inrange);
        }
    }

    &.bg-terrain-plains {
        &.in-range {
            background-color: var(--terrain-plains-inrange);
        }
    }
}

.unit {
    &:not(:last-child)::after {
        content: " ";
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

hr {
    background-color: rgb(68, 68, 68);
    height: 1px;
    width: 80%;
}

button {
    /* @apply py-2 px-3 m-2 rounded; */

    /* transition: 0.3s; */

    &.build-unit {
        @apply bg-blue-500;

        &:hover {
            @apply bg-blue-400;
        }
    }
}

.pointer {
    cursor: pointer;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 20px solid black;

    &.red {
        border-left: 20px solid var(--player-red);
    }
    &.blue {
        border-left: 20px solid var(--player-blue);
    }
    &.orange {
        border-left: 20px solid var(--player-orange);
    }
    &.yellow {
        border-left: 20px solid var(--player-yellow);
    }
    &.teal {
        border-left: 20px solid var(--player-teal);
    }
    &.purple {
        border-left: 20px solid var(--player-purple);
    }
    &.green {
        border-left: 20px solid var(--player-green);
    }
    &.gray {
        border-left: 20px solid var(--player-gray);
    }
}

/* Tooltip container */
.purchase-button {
    & .tooltip {
        visibility: hidden;
        & .tooltip-arrow {
            position: absolute;
            top: -15px;
            right: 20px;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 20px solid black;

            @media (max-width: 768px) {
                top: -15px;
                right: 40%;
            }
        }
    }

    &:hover .tooltip {
        visibility: visible;
    }
}
